{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}

<form method="POST">
    {% csrf_token %}

    {{ form|bootstrap }}

    <button type="submit" class="btn btn-main">Save</button>
</form>

<br>
{% if object %}
    <a href="{% url 'create_document' object.id %}" class="btn btn-success">
        Add document
    </a>
{% endif %}
<br>
{% for document in object.document_set.all %}

    <a href="{{ document.file.url }} "> {{ document.description }}  </a><br>
{% endfor %}
{% endblock %}